NODE_ENV=development

# Database
POSTGRES_DB=rocket_backend
POSTGRES_USER=rocket
POSTGRES_PASSWORD=rocket1234
DATABASE_URL=postgresql://rocket:rocket1234@localhost:6662/rocket_backend?schema=public
DATABASE_URL_COMPOSE=postgresql://rocket:rocket1234@postgres-backend:5432/rocket_backend?schema=public
